@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans";
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.nav_wrapper {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
}
nav {
  width: 100%;
  background-color: #fff;
  margin-bottom: 1px;
  box-shadow: 0px 1px 0px 0px #12203b17;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_flex {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 10px;
  height: 1px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -100%; /* Hide sidebar off-screen */
  width: 250px;
  height: 100%;
  background: #fff;
  transition: left 0.3s ease;
  padding: 10px 20px;
  overflow-y: scroll;
  scrollbar-width: 1px;
}

#sidebar.active {
  left: 0; /* Show sidebar */
}

.hamburger {
  cursor: pointer;
  /* Add additional styling */
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.home_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
.aside {
  background-color: #fff;
  padding: 10px 20px;
  height: 100%;
}
.aside .profile {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profile img {
  width: 100px;
  height: 100px;
}
.profile p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600;
}
.profile p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
}
.profile p:nth-of-type(3) {
  font-size: 18px;
  font-weight: 400;
}
.border {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
}

.navigation {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.navigation .navigation_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 10px;
}
.navigation .nav_active {
  width: 100%;
  background-color: #4f46e5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navigation .nav_active a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff !important;
}
.navigation .navigation_item:hover {
  width: 100%;
  background-color: #4f46e5;
  padding: 10px;
  border-radius: 5px;
  transition: all ease-in 0.5s;
}
.navigation .navigation_item:hover i {
  color: #fff;
}
.navigation navigation_item img {
  width: 100px;
  height: 100px;
}
.navigation .navigation_item a {
  font-size: 16px;
  font-weight: 500;
  color: #1b1c1e;
}
.navigation .navigation_item:hover a {
  color: #fff;
}
.notification-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

#notification-btn {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
}

.notification-count {
  background-color: #6f4eff;
  color: white;
  border-radius: 50%;
  padding: 15px;
  font-size: 0.75em;
  position: absolute;
  top: -10px;
  right: -10px;
}

#notification-dropdown {
  display: none;
  position: absolute;
  right: 0px;
  top: 100%;
  width: 450px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.mark-read {
  font-size: 0.85em;
  color: #6f4eff;
  text-decoration: none;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.notification-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.notification-list li {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.notification-list li:last-child {
  border-bottom: none;
}

.notification-time {
  display: block;
  font-size: 0.75em;
  color: #888;
  margin-top: 5px;
}

.avatar-wrapper {
  position: relative;
}

#avatar-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#profile-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
  width: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 15px;
  background-color: #fff;
}

.profile_bg {
  border-radius: 10px;
  background: #f2f2f2;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0px;
  justify-content: space-between;
  gap: 10px;
}

.profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-options {
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.profile-options li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.profile-options li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profile-options li img {
  margin-right: 10px;
}

.profile-options li span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.logout {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.logout img {
  margin-right: 10px;
}

.other_side {
  margin-top: 20px;
  padding: 25px;
}
.other_side_header .other_side_title {
  font-size: 24px;
  font-weight: 600;
  color: #18181b;
}
.other_side_header .other_side_title span {
  font-size: 24px;
  font-weight: 400;
  color: #71717a;
}
.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.grid .calendar_container {
  width: 100%;
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #e4e4e7;
  padding: 20px;
}
.calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar_header p {
  font-size: 18px;
  font-weight: 500;
}
.calendar_header button {
  border: 1px solid #d4d4d8;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.calendar_date {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.calendar_date p {
  font-size: 18px;
  font-weight: 500;
  margin-right: 95px;
}
.calendar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-x: auto;
}

.calendar div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  border-bottom: 1px solid #f4f4f5;
}
.calendar div:nth-of-type(1) p {
  font-size: 16px;
  font-weight: 500;
  color: #4f46e5;
  margin-bottom: 4px;
}
.calendar div p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}
.event_container {
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #e4e4e7;
  padding: 20px;
}
.event_container .event_header {
  font-size: 18px;
  font-weight: 700;
  color: #18181b;
  margin-bottom: 20px;
}
.event_grid_header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event_grid div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event_grid div p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 500;
  color: #18181b;
}
.event_grid div p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 300;
  color: #71717a;
}
.event_grid span {
  font-size: 14px;
  font-weight: 500;
  color: #18181b;
}
.payment_container {
  border-radius: 1px;
  border: 1px solid #e4e4e7;
  background-color: #fff;
  padding: 20px;
}
.payment_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment_header div p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
  color: #18181b;
}
.payment_header div p:nth-of-type(2) {
  font-size: 13px;
  font-weight: 400;
  color: #71717a;
}
.payment_header a {
  font-size: 13px;
  font-weight: 500;
  color: #4f46e5;
}
.payment {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.payment_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.payment_grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.payment_grid div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #dcfce7;
  border-radius: 40px;
  padding: 5px;
}
.payment_grid1 div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fef9c3;
  border-radius: 40px;
  padding: 5px;
}
.payment_grid div:nth-of-type(1) p {
  text-align: center;
  font-weight: 500;
  color: #14532d;
}
.payment_grid1 div:nth-of-type(1) p {
  text-align: center;
  font-weight: 500;
  color: #713f12;
}
.payment_grid p {
  font-size: 16px;
  font-weight: 600;
  color: #1b1b1b;
}
.payment_grid1 p {
  font-size: 16px;
  font-weight: 600;
  color: #1b1b1b;
}
.payment_grid div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 1px;
}
.payment_grid div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  color: #71717a;
}
.payment_grid1 div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 5px;
}
.payment_grid1 div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  color: #71717a;
}
.payment_grid button {
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #8080808c;
  color: #fff;
  padding: 10px;
}
.payment_grid1 button {
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #4f46e5;
  color: #fff;
  padding: 10px;
}
.result_container {
  border-radius: 1px;
  border: 1px solid #e4e4e7;
  background-color: #fff;
  padding: 20px;
}
.result_header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.result_header p {
  font-size: 16px;
  font-weight: 600;
  color: #18181b;
}
.result_header a {
  font-size: 13px;
  font-weight: 500;
  color: #4f46e5;
}
.result_flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.result_child_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result_child_flex p {
  font-size: 18px;
  font-weight: 400;
  color: #1b1b1b;
}
@media screen and (max-width: 900px) {
  .avatar {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .home_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aside {
    display: none;
  }
  .other_side {
    width: 100%;
    max-width: 100vw;
  }
  .other_side_header .download span:nth-of-type(2) {
    display: none;
  }
  .result_card .result_card_content {
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .calendar div {
    grid-template-columns: 1fr;
    text-align: left;
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  .calendar div:nth-of-type(1) p {
    font-size: 16px;
    font-weight: 500;
    color: #4f46e5;
  }
  .calendar div p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
  .calendar_date p {
    margin-right: 0;
  }
  .payment_container {
    width: 100%;
  }
  .payment_grid {
    grid-template-columns: 1fr;
    text-align: left;
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  .payment_grid1 {
    grid-template-columns: 1fr;
    text-align: left;
    gap: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  .payment_header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 5px;
  }
  .payment_grid div:nth-of-type(1) {
    width: 150px;
  }
  .payment_grid1 div:nth-of-type(1) {
    width: 150px;
  }
}
